node_modules/

dist/
out/
build/Release/

*.appx
*.msix
*.msixbundle
*.appxbundle
AppPackages/
BundleArtifacts/
Package.StoreAssociation.xml
_UpgradeReport_Files/

*.pfx
*.snk
*.pks
.env
.env.local

.DS_Store
Thumbs.db

.vscode/
.idea/
*.suo
*.user