html,
body {
    margin: 0;
    height: 100%;
}

/* Background */
#background {
    position: absolute;
    inset: 0;
    z-index: 0;
    height: 100%;
    color: rgb(69, 37, 133);
    background-color: #08070d;
}

/* Sky background colours */
#sky {
    position: absolute;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    top: 0;
    width: 100%;
    height: 55%;
    background: linear-gradient( rgb(39, 20, 77) 75%, rgb(33, 67, 152) );
}

/* Sun background colours */
#sunWrap {
    position: relative;
    width: 42%;
    margin-bottom: -17%;
}
#sun {
    --glow-color: rgb(227, 62, 62);
    padding-top: 100%;
    border-radius: 50%;
    background-image: linear-gradient( #ffb515, #ff7134, #ff1c49 50% );
    box-shadow: 0 0 160px 80px var( --glow-color );
}

/* Stars in the background */
#stars {
    position: absolute;
    width: 100%;
    height: 100%;
    margin-bottom: -10px;
}
.star {
    position: absolute;
    border-radius: 50%;
    width: 2px;
    height: 2px;
    background-color: #fff;
}

/* Mountains to the left and right */
#mountains {
    position: absolute;
    width: 100%;
    height: 30%;
}
.mountain {
    position: absolute;
    width: 30%;
    height: 100%;
    background-image: linear-gradient( #000 70%, #111 85%, #fff1 );
}
#mountains-left { left: 0; clip-path: polygon( 0% 100%,0% 55%,5% 60%,10% 57%,20% 48%,27% 42%,30% 40%,33% 37%,40% 47%,50% 52%,60% 68%,70% 83%,75% 80%,80% 89%,85% 92%,90% 94%,95% 98%,100% 100% ); }
#mountains-right { right: 0; clip-path: polygon( 0% 100%,5% 95%,12% 85%,17% 85%,22% 80%,27% 78%,34% 70%,42% 72%,50% 59%,57% 52%,67% 66%,70% 68%,75% 64%,80% 57%,90% 52%,95% 62%,100% 57%,100% 100% ); }

/* City in front of sun */
#cityWrap {
    position: absolute;
    width: 50%;
    margin-left: -1%;
}
#city {
    padding-top: 20%;
}
.building {
    position: absolute;
    width: 5%;
    height: 90%;
    bottom: 0;
    border-radius: 4px 4px 0 0;
    background-image: linear-gradient( 0deg, rgba( 17, 17, 34, 0 ), rgb(18, 18, 35) 30px, #000 );
}
.building:nth-child( odd ) {
    background-image: linear-gradient( 0deg, rgba( 24, 24, 42, 0 ), rgb(35, 35, 54) 30px, #000 );
}

/* Black area below city and sun */
#ground {
    position: absolute;
    width: 100%;
    height: 90%;
    bottom: 0;
    border-top: 2px solid #bc5188;
    background-color: #08070d;
    transform: translateY(50%);
}


@media (max-width: 1000px) {
    #background {
        position: absolute;
        inset: 0;
        z-index: 0;
        height: 110%;
        color: rgb(69, 37, 133);
        background-color: #08070d;
    }
}

@media (max-width: 750px) {
    #background {
        position: absolute;
        inset: 0;
        z-index: 0;
        height: 120%;
        color: rgb(69, 37, 133);
        background-color: #08070d;
    }
}

@media (max-width: 500px) {
    #background {
        position: absolute;
        inset: 0;
        z-index: 0;
        height: 130%;
        color: rgb(69, 37, 133);
        background-color: #08070d;
    }
}